<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript 混淆加密</title> 
</head>
<body>
    @Scripts.Render("~/bundles/layout") 
</body>
</html>
